@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:ital,wght@0,300;1,100&display=swap');

body{
    font-family: 'roboto';
    background-color: rgb(226, 226, 226);
    margin: 0px;
    padding:0px;
}
nav{
    display: flex;
    background-color: black;
    color: white;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration:none;
}
h1{
    font-size: 40px;
    line-height: 0px  ;
}
a{
    text-decoration: none;
    color: black;
    
}
ul{
    margin:0px auto;
}


main{
    margin: 0 auto;
}
img{
    width:100%;
}
footer{
    display:flex;
    justify-content: space-around;
    background-color:black;
    padding:20px;
    color:white;
}
.dshb-statistics-div{
    background-color: lightgreen;
    margin: 20px;
}
.dshb-statistics-container{
    box-sizing: border-box;
    font-size:20px;
    justify-content:space-between;
    display: flex;
    padding:20px;
    border-radius:10px;
    margin:0px auto;
    width: 50%;
    height: 200px;
    background-color:white;
}

.dshb-title-div{
    text-align:center;
}
.recipe-published{
    background-color:lightgreen;
}
.recipe-pending{
    background-color: rgb(255, 255, 174);
}
.recipe-dashbord{
    padding:10px;
    border-radius:10px;
    position: relative;
    margin-bottom:10px;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    width:40vw;
    height:fit-content;
    transition: all 150ms ease-in-out;
}
.recipe-dashbord:hover{
    transform:scale(1.02);
}

#dsb-btn{
    cursor:pointer; 
    font-size:20px;
    position:absolute;
    right:0;
    top:0;
    border-radius: 3px;
    padding: 10px 20px;
    border:none;
    background-color:transparent;
    color:black;
    transition: all ease-in-out 100ms;
}
#dsb-btn:hover{
    transform:scale(1.1);
}
#img-dsb-recipe{
    border-radius:10px;
    width:25%;
}
.dashboard-title{
    margin: 50px 0px;
}
.author-dashboard{
    padding:10px;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-content:flex-start;
    align-items:flex-start;
}
.navbar-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.navbar-container li{
    margin:0px 10px;
    list-style-type:none;
    transition:all 150ms ease-in-out;
}
.navbar-container li:hover{
    transform:scale(1.03)
}
.logout-btn{
    background-color: transparent;
    color: white;
    border-style:none;
    font-size: 30px;
}


.search-form{
    padding:5px;
    position: relative;
    max-width:30rem;
    margin: 20px auto;
    border-style: solid;
    border-color: black;
    transition: all 150ms ease-in-out;
}
.search-form:focus-within{
    border-color: orange;
    color: orange;
}
.search-form:focus-within .search-button{
    color: orange;
}
.search-input,
.search-button{ 
    transition: all 150ms ease-in-out;
    border: none;
    outline: none;
    background-color: rgb(226, 226, 226);   
}
.search-input{
    width:100%;
    padding-right: 10px;
}
.search-button{
    position:absolute;
    right: 0;
}
.card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: fit-content;
    background-color: white;
    transform: scale(1);
    transition: all 150ms ease-in-out;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2)
}
.card-list{
    width: 360px;
}
.card-detail{
    width: 60vw;
}
.card-list:hover{
    transform: scale(1.03)
}

.card-container{
    padding: 40px;
    justify-items:center;
}
.card-list-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 50px;
}
.card-detail-container{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: 50px;
}
.card-title{
    padding:10px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.card-meta-info{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}
.card-meta-info span{
    padding: 5px;
}
.card-detail .card-meta-info span{
    padding: 5px 25px;
}
.card-desc{
    padding: 0px 20px;
    text-align: start;
}
.card-info{
    display:flex;
    padding: 30px;
    flex-direction: row;
    justify-content: space-around;
}
.card-info-item{
    line-height:5px;
}
.card-see-more h3{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 10px 0px;
}
.card-see-more h3:hover{
    background-color: rgba(0, 0, 0, 0.9);
}
.preparation-steps{
    padding: 0px 25px 25px 25px;
}
.empty-card-info{
    text-align:center;
    padding: 100px;

    height:100vh;
}
.index{
    scale: 1;
    border-radius: 4px;
    margin: 10px 5px;
    background-color:white;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.336);
    transition: all 50ms ease-in-out;
    transform:scale(1);
}
.index:hover{
    transform:scale(1.1);
}
.number{
    font-size: 15px;
    padding: 15px;
}
.browser{
    padding: 15px;
    width: 10vw;
}
.selected{
    color:white;
    background-color: rgb(1, 124, 255);
}
.index_container{
    margin: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.disabled{
    background-color:rgb(219, 219, 219);
    color:rgb(61, 61, 61);
    pointer-events: none;
}
.enabled{
    color: black;
}

.message{
    margin:10px auto;
    width:50vw;
    border:solid;
    display:flex;
    flex-flow:column wrap;
    justify-items:center;
    align-items:center;
    border-radius: 5px;
    padding:10px;
} 
.success{
    background-color:lightgreen;
    border-color:green;
    color: black;
}
.form-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 40vw;
    align-items: center;
    margin: auto;
}
.login-form{
    height:80vh;
    padding: 50px;

}
.form-field{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 10px;
    width: 100%;

}
.create-rcp-btn{
    margin-left:10px;
    border-radius: 3px;
    padding: 12px;
    border:none;
    background-color: #00a645;
    color: white;
    transition: all ease-in-out 100ms;
}
.create-rcp-btn:hover{
    cursor:pointer;
    transform:scale(1.03);
}

.form-field select{
    padding: 5px 2px;
}
label{
    display:block;
    font-size: 20px;
}
.form-field input{ 
    border-radius: 3px;
    padding: 12px;
    border:none;
}
.form-field button{
    border-radius: 3px;
    padding: 12px;
    border:none;
    background-color: black;
    color: white;
    transition: all ease-in-out 100ms;
}
.form-field button:hover{
    background-color: rgb(49, 49, 49);
}
.container{
    display:flex;
    margin: auto;
}
.errorlist{
    color:red;
}
