{% extends 'recipes/base.html' %}

{% block title %} Register {% endblock title %} 

{% block content %}
 
    <div class="author-dashboard">
        <h1 class="dashboard-title" >Dashboard {{user}}</h1>
        <p><a href="{% url "author:create_recipe" %}"><strong>Create a recipe</strong></a></p>
        <ul>
            {% for recipe in recipes %}
                <div class="recipe-dashbord"><img width="100px" id="img-dsb-recipe" src="{{recipe.cover.url}}" alt=""><a href="{% url "author:edit_recipe" recipe.id %}">{{recipe.title}}</a>
                <form id="form-delete"  action="{% url "author:dashboard_recipe_delete" recipe.id %}" method="POST">
                        {% csrf_token %}
                    <button id="dsb-btn" type="submit" ><strong>x</strong></button>
                </form>
                
            </div>
            {% empty %}
                <h2>There are no recipes to show</h2>
            {% endfor %}
        </ul>
    </div>

{% endblock content %}