{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'recipes/css/style.css' %}">
    <title>{% block Title %}{% endblock Title %}</title>
</head>
<header>
    {% include "recipes/navbar.html" %}
    <form action="{% url 'recipe:search' %}" method="GET" class="search-form">
        <input type="search" class="search-input" name="search" value="{{search}}" placeholder="Search for a recipe">
        <button type="submit" class="search-button"><i class="fas fa-search"></i></i></button>
    </form>
</header>

<body>
    <main>

       {% include "recipes/message.html" %}


            {% block content %}

            {% endblock content %}
       </div>
       <div class="index_container">
            {% if recipes.has_other_pages %}
            {% if not recipes.has_previous %}
                <a href="#" class="index browser disabled" >Previous</a>
            {% else %}
                <a href="{% url 'recipe:home' %}?page={{recipes.previous_page_number}}" class="index browser enabled" >Previous</a>                
            {% endif %}
            {% for num in recipes.paginator.page_range%}
                {% if num == recipes.number %}
                    <a href="{% url 'recipe:home' %}?page={{num}}" class="index number selected">{{num}}</a>
                {% else %}
                    <a href="{% url 'recipe:home' %}?page={{num}}" class="index number">{{num}}</a>
                {% endif %}
            {% endfor %}
            {% if recipes.has_next %}
                <a href="{% url 'recipe:home' %}?page={{recipes.next_page_number}}" class="index browser enabled"> Next </a>
            {% else %}
                <a href="#" class="index browser disabled">Next</a>
            {% endif %}
                {% endif %}
        </div>
    </main>
    <footer>
        <span>Powered by Django</span>
        <span>By Kaique</span>
    </footer>
</body>

</html>