{% extends 'recipes/base.html' %}

{% block Title %}{{title}}{% endblock Title %}

{% block content %}
    {% if user.is_authenticated %}
    {% include "recipes/search-bar.html" %}
    {% endif %}
<div class="card-container card-detail-container">
    <div class="card card-detail">
        <div>
            <img src="{{recipe.cover.url}}" alt="">
        </div>
        <div class="card-title">
            <h2>{{recipe.title}}</h2>
        </div>
        <div class="card-meta-info">
            {% if recipe.author.first_name %}
                <span><i class="fas fa-user"></i> {{recipe.author.username }}
            {% else %}
                <span><i class="fas fa-user"></i> {{recipe.author.username }}
            {% endif %}
            
            <span><i class="far fa-calendar-alt"></i> {{recipe.created_at|date:"d/m/Y"}}</span>
            <a href=""><span><i class="fas fa-pizza-slice"></i> <strong>{{recipe.category.name}}</strong></span></a>
        </div>
        <div class="card-desc">{{recipe.description}}</div>
        <div class="card-info">
            <div class="card-info-item">
                <strong>Servings</strong>
                <p>{{recipe.servings}} {{recipe.servings_unit}}</p>
            </div>
            <div class="card-info-item">
                <strong>Prepare time</strong>
                <p>{{recipe.preparation_time}} {{recipe.preparation_time_unit}}</p>
            </div>
        </div>
        {% if is_detail_page is not True %}
            <div class="card-see-more">
                <a href="">
                    <h3>See more...</h3>
                </a>
            </div>
        {% endif %}
        {% if is_detail_page is True %}
            <div class="preparation-steps">
                <div>{{recipe.preparation_steps| linebreaksbr}}</div>
            </div>
        {% endif %}

    </div>
</div>

{% endblock content %}